---
---

<div
  class="text-muted text-sm bg-primary dark:bg-secondary dark:border-b dark:border-stone-800 dark:text-muted hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="bg-white/40 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block">ANNOUNCEMENT</span>
  <a href="https://wiki.artifactory.org.au/en/minutes/AGM/2023-09-16" class="text-muted hover:underline dark:text-muted font-medium"
    >Annual General Meeting - Saturday 16th September at 1pm</a
  >
</div>
