---
import Layout from '~/layouts/PageLayout.astro';

import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Events',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="What's going on"
    title="Events at the Artifactory"
    subtitle="Join us for an inspiring day or evening of innovation and interaction."
    classes={{
      title: 'text-4xl md:text-5xl',
    }}
  />

  <!-- Calendar ************** -->

    <div style="overflow: hidden" class="mx-auto max-w-6xl w-11/12 rounded-lg bg-neutral-500 shadow-lg">
      <iframe   src="https://calendar.google.com/calendar/embed?height=800&wkst=2&ctz=Australia%2FPerth&showPrint=0&showTitle=0&showTz=0&showDate=0&showCalendars=0&hl=en_GB&src=cTliczh1bDd1bWZubTRtMDJlcTUzNTExNG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23009688"
                width="100%"
                height="800px"
                frameBorder="0"
                scrolling="no">
      </iframe>
    </div>


  <!-- Location ************** -->

  <Features2
    id="location"
    title="Our location"
    tagline="find us"
    columns={3}
    items={[
      {
        title: 'Address',
        description: 'Unit 8 / 16 Guthrie Street<br> Osborne Park WA 6017',
      },
      {
        title: 'Nearest Bus Stop',
        description: '<a href="https://www.transperth.wa.gov.au/Timetables/Details/Bus/413">Route 413</a> stops outside the Artifactory.<br> <a href="https://www.transperth.wa.gov.au/Timetables/Details/Bus/990">Route 990</a> stops two blocks away.',
      },
      {
        title: 'Nearest Train',
        description: 'Stirling Station and Glendalough Station.',
      },
    ]}
  />

    <div style="overflow: hidden" class="mx-auto max-w-5xl w-11/12 rounded-lg bg-neutral-500 shadow-lg">
      <iframe src="https://snazzymaps.com/embed/517349" width="100%" height="600px" style="border:none;"></iframe>
    </div>


  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Join our community today!"
    actions={[
      {
        variant: 'primary',
        text: 'Become a member',
        href: '/pricing',
        icon: 'tabler:users'
      },
      {
        variant: 'secondary',
        text: 'Plan your first visit',
        href: '/first_visit',
      },
    ]}
  />


</Layout>
