@tailwind base;

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

@layer base {
  h1: {
    color: 'secondary-1',
  },
  h2: {
    color: 'secondary-2',
  },
  h3: {
    color: 'header',
  },
  strong: {
    color: 'highlight-1',
  },
  a: {
    color: 'highlight-1',
    hover: {
      color: 'secondary-2',
    }
  }
}

@tailwind components;
@tailwind utilities;
